<settings>
  <profiles>
    <profile>
      <id>confluent</id>
      <repositories>
        <repository>
          <id>confluent</id>
          <url>https://packages.confluent.io/maven/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>confluent</id>
          <url>https://packages.confluent.io/maven/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>confluent</activeProfile>
  </activeProfiles>
</settings>
